*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
:root{
    --color: rgb(230, 65, 65);
    --secondary-color: rgb(170, 202, 220);

}

div{
    background-color: rgb(211, 207, 207);
}

.container{
    background-color: var(--secondary-color);
}
ul li:first-child{
    list-style-type: none;
    padding: 10px;
     /* --color: rgb(237, 138, 138); */
     background-color: var(--color , blue);
    
}

ul{
    display: flex;
    /* justify-content: space-around; */
    
}