.box{
    width: 30vh;
    height: 30vh; 
    border: 2px solid rgb(204, 85, 85);
    overflow: auto;
    /* white-space: nowrap;for only horizontal overflow */
    text-overflow: ellipsis;
    overflow-x:auto;
    overflow-y:ellipsis;



}

.position{
    

}



