nav ul li{
    list-style:decimal-leading-zero;
    background-color: #5252b1;
    list-style-position: inside;
    border: 2px solid rgb(0, 0, 0);
    /* list-style-image: url("https://cdn-icons-png.flaticon.com/512/25/25694.png") ; */
    list-style-type: "👌";

    

}

ul{
    display: flex;
    padding: 50px;
}
