
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
.p{
    font-family: 'Courier New', Courier, monospace;
}

h2{
    font-family: "Noto Sans JP", sans-serif;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

h3{
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  text-decoration: dotted;
  text-indent: 20px;
}
p{
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  line-height: 1.5;
  text-decoration-thickness: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  border: 2px solid rgb(0, 0, 0);
  word-wrap: break-word;
}


















