.container{
    background-color: antiquewhite;
    border: 2px solid black;
    height: 500px;
    width: 700px;
    position: relative;
    

}

.box{
    background-color: aquamarine;
    border: 2px solid black ;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    position: absolute;
    bottom: 0;
    animation: x-axis 3s ease-in-out 2s 5 forwards ;
    /* animation-timing-function: paused; */
    animation-direction: alternate-reverse;
    
}


@keyframes x-axis{
    0%{
        transform: translate(0, 0);
        
    }
    45%{
        transform: translate(250px, -200px);
        animation-delay: 1s;
    }
    52%{
        transform: translate(350px, 0);
        animation-delay: 1s;
    }
    60%{
        transform: translate(450px, -200px);
        animation-delay: 1s;
    }
    100%{
        transform: translate(600px, 0);
    }

}
/* 
@keyframes y-axis{
    from{

    }
    to{
        transform: translateY(-200px);
    }


} */

