.box{
    background-color: rgb(172, 216, 37);

}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.box-1{
    color: rgb(255, 255, 255);
    padding: 20px;
    margin: 45px;
    border: 2px solid rgb(0, 0, 0);
    height: 50px;
    box-sizing: border-box;

}
.box-2{
    color: rgb(100, 8, 8);
    padding: 20px;
    margin: 20px;
    border: 2px solid rgb(0, 0, 0);
    height: 50px;
    box-sizing: border-box;

}










